{
  "plugins": [
    "react"
  ],
  "extends": "rodoabad",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "parseOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "15.0"
    }
  },
  "rules": {
    "no-magic-numbers": 0,
    "func-style": [
      2,
      "declaration",
      {
        "allowArrowFunctions": true
      }
    ],
    "newline-before-return": 0,
    "prefer-arrow-callback": [
      2,
      {
        "allowNamedFunctions": true
      }
    ]
  }
}
